/*----------------------------------------------------*\
	WIDE CONTAINER
\*----------------------------------------------------*/

.container.wide {
	max-width: 1300px;
	width: 100%;
}

.description_below li {
	margin-bottom: 8px !important;
}

/*----------------------------------------------------*\
	PARTY CARDS
\*----------------------------------------------------*/

.party-paks h2 {
	text-align: center;
	font-size: 34px;
	margin: 1em 0;
}

.party-cards {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
}

.party-card {
	width: calc(33.33% - 14px);
	margin: 7px;
	border: 2px solid #000;
	border-top: 0;
	padding-bottom: 85px;
	position: relative;
	text-align: left;
}

.party-card:nth-child(1),
.party-card:nth-child(2) {
	width: calc(45% - 14px);
	border-color: #c9252b;
}

.party-card .title {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(100% + 4px);
	position: relative;
	left: -2px;
}

.party-card .title .block {
	position: relative;
	top: 35px;
	z-index: 2;
}

.party-card .title h3 {
	color: #fff;
	text-align: center;
	margin: 0;
}

.party-card .title .subheader {
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 18px;
	font-family: 'Oswald', sans-serif;
}

.party-card .title .overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

.party-card .title .special {
	position: absolute;
	top: 8px;
	left: -8px;
	background: #FEB800;
	padding: 4px 14px;
}

.party-card .title .special p {
	margin-bottom: 0;
	text-align: center;
	font-size: 26px;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
}

.party-card .title .special p span {
	font-family: Arial;
	font-size: 16px;
	display: block;
}

.party-card .price {
	padding: 4px;
	text-align: center;
	background-color: #000;
}

.party-card:nth-child(1) .price,
.party-card:nth-child(2) .price {
	background-color: #c9252b;
}

.party-card .price p {
	color: #fff;
	font-size: 32px;
	margin: 0;
}

.party-card .description {
	padding: 4px 35px;
}

.party-card:nth-child(1) .description,
.party-card:nth-child(2) .description {
	padding: 4px 35px 20px 35px;
}

.party-card .description>p:first-child {
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	margin-bottom: 4px;
}

.party-card:nth-child(1) .description>p:first-child,
.party-card:nth-child(2) .description>p:first-child {
	color: #c9252b;
}

.party-card .description ul {
	padding-left: 1em;
	margin-bottom: 0;
}

.party-card .description>ul:first-of-type {
	padding-left: 0;
}

.party-card .description>ul:first-of-type li {
	font-size: 18px;
}

.party-card .description ul li svg {
	width: 20px;
	height: 20px;
	margin-right: 4px;
	display: inline;
	vertical-align: text-bottom;
	position: relative;
	top: 1px;
}

.party-card .description li {
	list-style-type: disc;
	padding: 6px 0;
}

.party-card .description li.has-icon {
	list-style: none;
}

.party-card .button {
	min-width: 175px;
	text-align: center;
	margin: 0 auto;
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
}

@media only screen and (max-width: 900px) {
	.party-card,
	.party-card:nth-child(1),
	.party-card:nth-child(2) {
		width: 100%;
	}
}

/*----------------------------------------------------*\
	PAK RECOMMENDATIONS FORM
\*----------------------------------------------------*/

.pak-recommendation {
	max-width: 1000px;
	margin: 50px auto;
}

.pak-recommendation .contents {
	margin: 80px auto;
}

.pak-recommendation .form-contain {
	text-align: center;
	padding: 40px 0 60px 0;
	border-top: 2px solid #f2f2f2;
	border-bottom: 2px solid #f2f2f2;
	position: relative;
}

.pak-recommendation .form-contain>p {
	color: #000;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
	margin: 0;
}

.pak-recommendation .form-contain>h2 {
	color: #000;
	text-transform: uppercase;
	font-size: 55px;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	margin: 00;
}

.pak-recommendation .form-contain .gform_wrapper {
	margin: 0 !important;
}

.pak-recommendation .form-contain form {
	padding-top: 60px;
}

.pak-recommendation .form-contain .gf_page_steps {
	text-align: center;
	border: none;
	position: absolute;
	bottom: 0;
}

.pak-recommendation .form-contain .gf_page_steps .gf_step {
	background-color: rgba(217, 0, 32, 0.2);
	display: inline-block;
	width: 150px;
	height: 10px;
	margin: 0 18px;
}

.pak-recommendation .form-contain .gf_page_steps .gf_step.gf_step_active,
.pak-recommendation .form-contain .gf_page_steps .gf_step.gf_step_completed {
	background-color: #c9252b;
	opacity: 1;
}

.pak-recommendation .form-contain .gf_page_steps .gf_step span {
	display: none;
}

.pak-recommendation .form-contain .gform_page_footer {
	border: none;
	padding: 0 !important;
	min-height: 100px;
	margin-top: -100px;
}

.pak-recommendation .form-contain .gform_page_footer .gform_previous_button {
	background-color: transparent;
	color: grey;
	width: auto;
	border-bottom: none !important;
	box-shadow: none;
}

.pak-recommendation .form-contain .gform_page_footer .gform_next_button,
.pak-recommendation .form-contain .gform_page_footer .gform_button {
	background: #c9252b;
	margin: 0;
	width: auto;
	float: right;
}

.pak-recommendation .form-contain form .gform_page_fields>ul {
	text-align: center !important;
	max-width: 500px;
	margin: 0 auto !important;
}

.pak-recommendation .form-contain form .gform_page_fields>ul>li {
	padding: 0 !important;
}

.pak-recommendation .form-contain form .gform_page_fields ul {
	text-align: left;
}

.pak-recommendation .form-contain form .ginput_container {
	font-size: 20px;
}

.pak-recommendation .form-contain form .ginput_container_radio {
	margin-top: 0 !important;
}

.pak-recommendation .form-contain form .ginput_container_radio ul {
	margin: 0;
	text-align: center;
}

.pak-recommendation .form-contain form .ginput_container_radio label {
	max-width: 100% !important;
	width: auto;
	margin-right: 10px;
}

.pak-recommendation .form-contain form .ginput_container_radio input[type=radio] {
	-webkit-appearance: none !important;
	border-radius: 50%;
	width: .65em !important;
	height: .65em !important;
	padding: 0;
	border: 1px solid #000;
}

.pak-recommendation .form-contain form .ginput_container_radio input:checked {
	border: 4px solid #000;
}

.pak-recommendation .form-contain form li {
	display: inline-block;
	width: auto;
	max-width: 450px;
	padding: 0;
}

.pak-recommendation .form-contain form .gfield_label {
	font-size: 24px;
}

.pak-recommendation .form-contain .gform_confirmation_message {
	padding: 50px 0 0 0;
}

.pak-recommendation .form-contain .gform_confirmation_message h3 {
	color: #c9252b;
	margin: 0;
	font-size: 40px;
}

@media only screen and (max-width: 900px) {
	.pak-recommendation .form-contain .gform_page_footer {
		margin-top: 0;
	}
	.pak-recommendation .form-contain .gf_page_steps .gf_step {
		width: 40px;
	}
}

/*----------------------------------------------------*\
	ADDITIONAL INFO
\*----------------------------------------------------*/

.additional-party-info {
	max-width: 1000px;
	margin: 0 auto;
}

.additional-party-info>h2 {
	text-align: center;
	margin: 1em auto;
}

.additional-party-info>h3 {
	text-transform: uppercase;
	color: #c9252b;
	font-size: 28px;
	margin: 0 0 8px 0;
	padding: 0 25px;
}

.additional-party-info .row-grid {
	width: 100%;
	margin-bottom: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.additional-party-info .row-grid .grid-block {
	width: calc(50% - 50px);
	margin: 0 25px;
	max-width: 450px;
}

.additional-party-info .row-grid ul {
	padding-left: 1em;
}

.additional-party-info .row-grid ul li {
	list-style: disc;
	margin-bottom: 10px;
}

.additional-party-info .row-grid:first-of-type ul {
	padding: 0;
}

.additional-party-info .row-grid:first-of-type li {
	list-style: none;
	position: relative;
	padding: 0 0 8px 0;
}

.additional-party-info .row-grid:first-of-type li strong {
	float: right;
}

.additional-party-info .row-grid:first-of-type .grid-block:last-child {
	text-align: center;
}

.additional-party-info .row-grid:first-of-type .fun-cards {
	background: #c9252b;
	padding: 40px;
	text-align: center;
}

.additional-party-info .row-grid:first-of-type .fun-cards p {
	color: white;
	font-size: 28px;
	font-family: 'Oswald', sans-serif;
}

.additional-party-info .row-grid:first-of-type .fun-cards p:first-child {
	font-size: 34px;
}

.additional-party-info .row-grid:first-of-type .fun-cards p:last-child {
	display: block;
	font-size: 18px;
}

.additional-party-info .button {
	margin: 0 auto 100px auto;
	display: table;
}

@media only screen and (max-width: 900px) {
	.additional-party-info .row-grid .grid-block {
		width: 100%;
		max-width: 100%;
	}
}

@media only screen and (max-width: 500px) {
	.additional-party-info .row-grid:first-of-type li strong {
		float: none;
	}
}

/*----------------------------------------------------*\
	PAK RECOMMENDATIONS
\*----------------------------------------------------*/

.recommendation {
	text-align: center;
	margin: 50px 0 100px 0;
}

.recommendation>p {
	font-size: 20px;
}

.recommendation>p:first-child {
	color: #D90020;
	font-family: 'Oswald', sans-serif;
	font-size: 28px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

.recommendation>h2:first-of-type {
	margin-bottom: 30px;
}

.recommendation .button.alt {
	background: transparent;
	color: #4f4f4f;
	border: none !important;
	padding: 0;
	margin-top: 20px;
}

.recommendation form {
	margin: 0 auto !important;
	max-width: 700px !important;
	width: 100%;
}

.recommendation form input[type=submit] {
	margin: 0 auto !important;
	display: table !important;
	width: 100% !important;
	max-width: 500px;
}

.recommendation .party-card {
	margin: 10px auto 0 auto;
}