/*----------------------------------------------------*\
	HEADER
\*----------------------------------------------------*/

.party-paks-p {
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	max-width: 70vw;
	margin: -1em auto 3em;
}

/*----------------------------------------------------*\
	PARTY CARDS
\*----------------------------------------------------*/

.page-template-page-private-parties .party-card:nth-child(1),
.page-template-page-private-parties .party-card:nth-child(2) {
	width: calc(33.33% - 14px);
	border-color: #000;
}

.page-template-page-private-parties .party-card:nth-child(4),
.page-template-page-private-parties .party-card:nth-child(5),
.page-template-page-private-parties .party-card:nth-child(6) {
	border-color: #c9252b;
}

.page-template-page-private-parties .party-card:nth-child(1) .price,
.page-template-page-private-parties .party-card:nth-child(2) .price {
	background-color: #000;
}

.page-template-page-private-parties .party-card:nth-child(4) .price,
.page-template-page-private-parties .party-card:nth-child(5) .price,
.page-template-page-private-parties .party-card:nth-child(6) .price {
	background-color: #c9252b;
}

.page-template-page-private-parties .party-card:nth-child(1) .description,
.page-template-page-private-parties .party-card:nth-child(2) .description {
	padding: 4px 35px;
}

.page-template-page-private-parties .party-card:nth-child(4) .description,
.page-template-page-private-parties .party-card:nth-child(5) .description,
.page-template-page-private-parties .party-card:nth-child(6) .description {
	padding: 4px 35px 20px 35px;
}

.page-template-page-private-parties .party-card:nth-child(1) .description>p:first-child,
.page-template-page-private-parties .party-card:nth-child(2) .description>p:first-child {
	color: #000;
}

.page-template-page-private-parties .party-card:nth-child(4) .description>p:first-child,
.page-template-page-private-parties .party-card:nth-child(5) .description>p:first-child,
.page-template-page-private-parties .party-card:nth-child(6) .description>p:first-child {
	color: #c9252b;
}

@media only screen and (max-width: 900px) {
	.page-template-page-private-parties .party-card:nth-child(1),
	.page-template-page-private-parties .party-card:nth-child(2) {
		width: 100%;
	}
}

/*----------------------------------------------------*\
	ADDITIONAL INFO
\*----------------------------------------------------*/

.additional-party-info .row-grid:first-of-type .wristbands {
	background: #000000;
	padding: 40px;
	text-align: center;
	margin-bottom: 2em;
}

.additional-party-info .row-grid:first-of-type .wristbands p {
	color: white;
	font-size: 28px;
	font-family: 'Oswald', sans-serif;
}

.additional-party-info .row-grid:first-of-type .wristbands p:first-child {
	font-size: 34px;
}

.additional-party-info .row-grid:first-of-type .wristbands p:last-child {
	display: block;
	font-size: 18px;
}