/*
    Docs at http://http://simpleweatherjs.com

    Weather icon font from http://fonts.artill.de/collection/artill-weather-icons

    DO NOT hotlink the assets/font included in this demo. If you wish to use the same font icon then download it to your local assets at the link above. If you use the links below odds are at some point they will be removed and your version will break.
    */

    @font-face {
    font-family: 'weather';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot');
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.woff') format('woff'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.ttf') format('truetype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;
    }

    .loading {
        margin: 65px 0 0;
    }

    #weather {
        margin: 0;
        float: left;
        text-transform: uppercase;
        position: relative;
        /*background: rgba(0,0,0,0.65);*/
    }

    #weather div.icon, #weather-mobile div.icon {
        margin: 0;
        color: #fff;
        font-family: weather;
        font-size: 30px;
        line-height: 44px;
        height: 40px;
        font-weight: normal;
        display: inline-block;
        float: left;
        margin: 0 8px;
    }

    #weather div.icon-0:before, #weather-mobile div.icon-0:before { content: ":"; }
    #weather div.icon-1:before, #weather-mobile div.icon-1:before { content: "p"; }
    #weather div.icon-2:before, #weather-mobile div.icon-2:before { content: "S"; }
    #weather div.icon-3:before, #weather-mobile div.icon-3:before { content: "Q"; }
    #weather div.icon-4:before, #weather-mobile div.icon-4:before { content: "S"; }
    #weather div.icon-5:before, #weather-mobile div.icon-5:before { content: "W"; }
    #weather div.icon-6:before, #weather-mobile div.icon-6:before { content: "W"; }
    #weather div.icon-7:before, #weather-mobile div.icon-7:before { content: "W"; }
    #weather div.icon-8:before, #weather-mobile div.icon-8:before { content: "W"; }
    #weather div.icon-9:before, #weather-mobile div.icon-9:before { content: "I"; }
    #weather div.icon-10:before, #weather-mobile div.icon-10:before { content: "W"; }
    #weather div.icon-11:before, #weather-mobile div.icon-11:before { content: "I"; }
    #weather div.icon-12:before, #weather-mobile div.icon-12:before { content: "I"; }
    #weather div.icon-13:before, #weather-mobile div.icon-13:before { content: "I"; }
    #weather div.icon-14:before, #weather-mobile div.icon-14:before { content: "I"; }
    #weather div.icon-15:before, #weather-mobile div.icon-15:before { content: "W"; }
    #weather div.icon-16:before, #weather-mobile div.icon-16:before { content: "I"; }
    #weather div.icon-17:before, #weather-mobile div.icon-17:before { content: "W"; }
    #weather div.icon-18:before, #weather-mobile div.icon-18:before { content: "U"; }
    #weather div.icon-19:before, #weather-mobile div.icon-19:before { content: "Z"; }
    #weather div.icon-20:before, #weather-mobile div.icon-20:before { content: "Z"; }
    #weather div.icon-21:before, #weather-mobile div.icon-21:before { content: "Z"; }
    #weather div.icon-22:before, #weather-mobile div.icon-22:before { content: "Z"; }
    #weather div.icon-23:before, #weather-mobile div.icon-23:before { content: "Z"; }
    #weather div.icon-24:before, #weather-mobile div.icon-24:before { content: "E"; }
    #weather div.icon-25:before, #weather-mobile div.icon-25:before { content: "E"; }
    #weather div.icon-26:before, #weather-mobile div.icon-26:before { content: "3"; }
    #weather div.icon-27:before, #weather-mobile div.icon-27:before { content: "a"; }
    #weather div.icon-28:before, #weather-mobile div.icon-28:before { content: "A"; }
    #weather div.icon-29:before, #weather-mobile div.icon-29:before { content: "a"; }
    #weather div.icon-30:before, #weather-mobile div.icon-30:before { content: "A"; }
    #weather div.icon-31:before, #weather-mobile div.icon-31:before { content: "6"; }
    #weather div.icon-32:before, #weather-mobile div.icon-32:before { content: "1"; }
    #weather div.icon-33:before, #weather-mobile div.icon-33:before { content: "6"; }
    #weather div.icon-34:before, #weather-mobile div.icon-34:before { content: "1"; }
    #weather div.icon-35:before, #weather-mobile div.icon-35:before { content: "W"; }
    #weather div.icon-36:before, #weather-mobile div.icon-36:before { content: "1"; }
    #weather div.icon-37:before, #weather-mobile div.icon-37:before { content: "S"; }
    #weather div.icon-38:before, #weather-mobile div.icon-38:before { content: "S"; }
    #weather div.icon-39:before, #weather-mobile div.icon-39:before { content: "S"; }
    #weather div.icon-40:before, #weather-mobile div.icon-40:before { content: "M"; }
    #weather div.icon-41:before, #weather-mobile div.icon-41:before { content: "W"; }
    #weather div.icon-42:before, #weather-mobile div.icon-42:before { content: "I"; }
    #weather div.icon-43:before, #weather-mobile div.icon-43:before { content: "W"; }
    #weather div.icon-44:before, #weather-mobile div.icon-44:before { content: "a"; }
    #weather div.icon-45:before, #weather-mobile div.icon-45:before { content: "S"; }
    #weather div.icon-46:before, #weather-mobile div.icon-46:before { content: "U"; }
    #weather div.icon-47:before, #weather-mobile div.icon-47:before { content: "S"; }

    #weather .temp, #weather-mobile .temp {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    margin: 0;
    color: #fff;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    float: left;
    display: inline-block;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
	padding-right: 10px;
   /* padding: 0 10px;*/
    /*background: rgba(84,192,232,0.75);*/
    }

    #weather ul {
    margin: 0;
    padding: 0;
    }

    #weather li {
    background: #fff;
    background: rgba(255,255,255,0.90);
    margin: 0 15px;
    padding: 20px;
    display: inline-block;
    border-radius: 5px;
    }

    #weather .updated {
    opacity: 0.45;
    }

    #banner {
      text-align: center;
      color: white;
      font-size: 18px;
    }

    #outdoor,
    #indooroutdoor,
    #indoor {
      position: relative;
      z-index: 0;
      display: none; /*Hide by Default*/
    }

    .home-content-slider {
      position: absolute;
      z-index: 100;
      top: 15%;
      left: 30%;
      color: #ffffff;
    }

    ul.activities {
      display: none; /*Hide by Default*/
    }

    #weatherbar {
        clear: both;
        width: 100%;
        height: 40px;
        float: left;
        display: block;
        background: rgba(255,255,255,0.15);
        position: absolute;
        top: 110px;
        left: 0;
        z-index: 1000;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        color: #ffffff;
    }

    #weatherbar .wrap {
        position: relative;
    }

    #weatherbar p {
        display: inline-block;
        float: left;
        font-size: 12px;
        line-height: 40px;
        padding: 0 10px;
        background: rgba(0,0,0,0.65);
    }

    #searchbox {
        display: inline-block;
        float: right;
        width: 22%;
        position: absolute;
        top: 0;
        right: -12px;
    }

    #he-dropdown {
        width: 12px;
        height: 40px;
        padding: 0 25px;
        margin-right: 15px;
        float: right;
        background: url(../images/dropdown.png) no-repeat center center;
        background-size: 12px 11px;
        cursor: pointer;
        position: relative;
        z-index: 1;
        display: none; /*Hide on Desktop*/
    }

    #hotentertainment {
        float: left;
        display: inline-block;
    }

    #hotentertainment h3 {
        display: inline-block;
        float: left;
        font-weight: 400;
        color: #ffffff;
        font-size: 14px;
        line-height: 40px;
        margin: 0;
        padding: 0 10px;
    }

    #hotentertainment ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        float: left;
    }

    #hotentertainment ul li {
        display: inline;
        margin-right: 5px;
        position: relative;
        font-size: 12px;
        line-height: 40px;
    }

    #hotentertainment ul li a {
        color: #ffffff;
    }

    #hotentertainment ul li:before {
        content: '•';
        color: #ffc423;
        margin-right: 5px;
    }

    #outdoor, 
    #both, 
    #indoor {
        display: none; /*Hide by Default*/
    }
	
	/*New added weather css*/
	.weather-box{ position: absolute; top: 28%; left: 24%;}
	.weather-box p{ float:left; color:#fff; font-family: 'Open Sans', sans-serif; font-size:11px; font-weight:400; padding-top: 12px;}
	/*New added weather css*/


    @media(max-width: 768px) { 


        #he-dropdown {
            display: inline-block;
         }

        #hotentertainment {
            background: rgba(0,0,0,0.8);
            width: 100%;
            float: left;
            position: relative;
            top: -10px;
            padding: 15px 0;
            display: none; /*Hide as Dropdown*/
        }

        #hotentertainment h3 {
            width: 100%;
            text-align: center;
            float: left;
            clear: both;
            display: block;
        }

        #hotentertainment ul {
            float: left;
            clear: both;
            text-align: center;
            width: 100%;
        }

        #hotentertainment ul li {
            display: block;
            width: 100%;
            text-align: center;
            float: left;
            clear: both; 
            color: #ffffff;
        }


        #hotentertainment ul li:before {
            content: '';
        }

    }

