.open-quote{line-height: 45px !important;}
.info-box-1, .info-box-2, .info-box-3{padding-left: 5px !important; padding-right: 5px !important;}
.info-box-1 .great_btn a, .info-box-2 .great_btn a, .info-box-3 .great_btn a{background-color: #cd3830 !important;}
.info-box-2 .great_btn a, .info-box-3 .great_btn a{background-color: #cd3830 !important;}
#socail-bg .fade-color-cover h2{color: #fff !important; background: #0954a2 !important; padding-bottom: 10px !important; padding-top: 10px !important; margin: 0px 0px 15px 0px !important;}
.home_slider h1, .home_slider h2{background: #0954a2 !important;}
.great_btn a{background-color: #cd3830 !important;}
#footer .footer1{float: left !important; margin-right: 130px !important;}
#footer .footer2{float: left !important;}
#footer .footer3{float: right !important;}
.info-box-title{background: #0954a2 !important;}
