/* 
New Stylesheet/Style overwrites for CJ Barrymore's
*/


/* General Components 
-------------------------------------------------------------------------------*/

html {
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
}
.wrap {
	width: 96%;
	max-width: 970px;
	padding: 0 2%;
	margin: 0 auto;
}
a {
	transition: color .4s ease-in-out;
	-moz-transition: color .4s ease-in-out;
	-webkit-transition: color .4s ease-in-out;
	-o-transition: color .4s ease-in-out;
}

* {
  box-sizing: border-box;
}

/* Header
-------------------------------------------------------------------------------*/

body.admin-bar header[role="banner"] #headertop {
	top: 32px;
}
body.admin-bar header[role="banner"] #weatherbar {
	top: 122px;
}
header[role="banner"] #headertop {
	width: 100%;
	height: 110px;
	padding: 0;
	display: block;
	float: left;
	background: rgba(15,15,15,0.9);
	background: #1262bc\0/;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
}

.logged-in header[role="banner"] #headertop a#logo {
	margin-top: 0;
}

header[role="banner"] #headertop a#logo {
	width: 270px;
	height: 66px;
	display: block;
	margin: 19px auto;
	background: url(../../images/new-cjs-logo.png) no-repeat;
	text-indent: -9999em;
}
header[role="banner"] #new-navigation-bar nav[role="navigation"] {
	float: left;
	display: inline-block;
}
header[role="banner"] #new-navigation-bar nav[role="navigation"] ul {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	padding: 0;
	margin-bottom: 0px;
}
header[role="banner"] #new-navigation-bar nav[role="navigation"] ul li {
	display: inline-block;
	border-left: 1px solid #d8d8d8;
	float: left;
}
header[role="banner"] #new-navigation-bar nav[role="navigation"] ul li a {
	color: #26303a;
	font-size: 15px;
	font-weight: 400;
	padding: 0px 26px;
	line-height: 45px;
	float: left;
}
header[role="banner"] #new-navigation-bar nav[role="navigation"] ul li a:hover {
	color: #f3f0f0;
	background: #26303a;
}
header[role="banner"] #headertop nav#secondary, #footer .footer1 nav#secondary {
	position: absolute;
	display: inline-block;
	top: 37%;
	right: 25%;
}
header[role="banner"] #headertop nav#secondary ul, #footer .footer1 nav#secondary ul {
	margin: 0;
	padding: 0;
	display: block;
	float: right;
}
header[role="banner"] #headertop nav#secondary ul li, #footer .footer1 nav#secondary ul li {
	display: inline-block;/*border-left: 1px solid #ffc423;*/
}
header[role="banner"] #headertop nav#secondary ul li:before, #footer .footer1 nav#secondary ul li:before {
	content: '|';
	padding: 0 4px;
	color: #ffffff;
}
header[role="banner"] #headertop nav#secondary ul li:first-child:before, #footer .footer1 nav#secondary ul li:first-child:before {
	content: '';
	padding: 0;
}
header[role="banner"] #headertop nav#secondary ul li:first-child, #footer .footer1 nav#secondary ul li:first-child {
	border-left: none;
	margin-right: -3px
}
header[role="banner"] #headertop nav#secondary ul li a, .footer1 nav#secondary ul li a{
	color: #ffffff;
	font-size: 11px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
header[role="banner"] #headertop nav#secondary ul li a:hover, #footer .footer1 nav#secondary ul li a:hover {
	color: #ffffff;
}
header[role="banner"] #new-navigation-bar #mobile-nav, header[role="banner"] #new-navigation-bar #mobile-click {
	display: none;
}
header[role="banner"] #new-navigation-bar #mobile-nav a#responsive-menu-button {
	background: url(../../images/new-mobile-menu-icon.png) 100px 14px no-repeat;
	float: left;
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000000;
	margin-right: 0;
	color: #26303a;
	font-size: 24px;
	line-height: 45px;
	padding-left: 35px;
	padding-right: 45px;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
}
/*header[role="banner"] #new-navigation-bar #mobile-nav a#responsive-menu-button:hover {
	background-color: #153462;
}*/

header[role="banner"] .hours-f {
/*position: relative;
	top: 90px;*/
}
.home-content-slider h1 {
	color: #ffffff;
}
.inner-slider {
	position: relative;
	height: 275px;
	overflow: hidden;
}
.inner-slider img {
	/*width: 100%;*/
	height: 100%;
}
.overlay {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	overflow: hidden;
	background: rgba(0,0,0,0.4);
}
#video-bg {
	position: relative;
	top: 0;
	left: 0;
	width: auto;
	min-width: 100%;
	height: auto;
	z-index: -1000;
	background: transparent url(../../images/videobg.jpg) no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

/*added overrite css*/
.site-bug-logo {background: url(../../images/site-bug-logo.png) left no-repeat; height: 122px; width: 78px; float: left; position: absolute; left: 20px; top: 15px; text-indent: -9999px; z-index: 999999;}
#new-navigation-bar{ width:100%; background:#f1f1f1; position: absolute; top: 110px; display: block; clear: both; float: left; left: 0; z-index: 1000; border-bottom: 4px solid #26303a;}
.today-hours{ background:#c9252b; float:right;}
.today-hours h2{ margin:0px;}
.today-hours h2 a{font-family: 'Oswald', sans-serif; font-size:16px; color:#ffffff; float:left; font-weight:400; line-height: 50px; height: 50px; margin: 0px; width: 225px; text-align: center;}
.today-hours h2 a:hover{ background:#af171d;}
.today-hours h2 a span{font-family: 'Open Sans', sans-serif; font-size:11px; font-weight:400; padding-right:5px; text-transform: capitalize; vertical-align: top;}
.black-line-left{ width: 24%; left:0; top: 52px; height:2px; background:#4f4f4f; position:absolute; z-index:99;}
.black-line-right{ width: 24%; right:0; top: 52px; height:2px; background:#4f4f4f; position:absolute; z-index:99;}
#footer .footer1 nav#secondary{float: left; margin-top:0px !important; margin-right:0px !important; position: initial; top:0 !important; right:0 !important;}
/*added overrite css*/

/* Media Queries
-------------------------------------------------------------------------------*/

@media(max-width: 1240px) {
.home_slider h1 {
	font-size: 28px;
}
}

@media(max-width: 1024px) {
.home_slider video {
	display: none;
}
header[role="banner"] #new-navigation-bar nav[role="navigation"] ul li a {
	font-size: 14px;
}
.site-bug-logo{
	display: none !important;
}
.black-line-left, .black-line-right{
	width: 12%;
}
.weather-box{
	top: 3%;
	left: 3%;
}
header[role="banner"] #headertop nav#secondary, #footer .footer1 nav#secondary{
	right: 13%;
	top: 37%;
}
.home_column{
	width: auto;
}
}

@media(max-width: 960px) {
header[role="banner"] #new-navigation-bar nav[role="navigation"] ul li {
	display: inline-block;
}
.today-hours{
	float: right;
	margin-right: 0;
	position: relative;
	z-index: 99;
}
}

@media(max-width: 782px) {
body.admin-bar header[role="banner"] #headertop {
	top: 0;
}
body.admin-bar header[role="banner"] #weatherbar {
	top: 90px;
}
}

@media(max-width: 768px) {
html #wpadminbar {
	top: 0;
}
header[role="banner"] #new-navigation-bar #mobile-nav {
	display: block;
}
header[role="banner"] .hours {
	display: block;
	top: 90px;
}
header[role="banner"] #headertop .wrap {
	padding: 0;
}
.hours-f .weather-wrapper strong {
	left: 55px;
	margin-top: 90px;
}
.home_slider h1 {
	font-size: 24px;
	padding: 0 8%;
	line-height: 1.5;
}
.inner-slider {
	position: relative;
	height: 275px;
	overflow: hidden;
}
.today-hours{
	float: right;
	margin-right: 0;
	position: relative;
	z-index: 99;
}
.today-hours h2 a{
	width: 210px;
}
}

@media(max-width: 767px) {
.today-hours{
	float: right;
	margin-right: -15px;
	position: relative;
	z-index: 99;
}
}

@media(max-width: 482px) {

body.admin-bar header[role="banner"] #weatherbar {
	top: 90px;
}
.today-hours{
	float: right;
	margin-right: -15px;
	position: relative;
	z-index: 99;
}
header[role="banner"] #new-navigation-bar #mobile-nav a#responsive-menu-button{
	background: url(../../images/new-mobile-menu-icon.png) 85px 14px no-repeat;
	padding-left: 20px;
}

.inner-slider {
	position: relative;
	height: 350px;
	overflow: hidden;
}

.page-headertop {
	position: absolute;
  	top: -145px !important;
  	width: 100%;
}

.breadcrumb {
	margin-top: 15px;
}

.page-headertop h1 {
	font-size: 24px !important;
}

}





@media(max-width: 320px) {
.normal-day-heading, .weekend-heading {
	font-size: 0.6em !important;
}
.today-hours{
	float: right;
	margin-right: -15px;
	position: relative;
	z-index: 99;
}
.today-hours h2 a{
	font-size: 13px;
	width: 184px;
}
.today-hours h2 a span{
	font-size: 10px;
}
.today-hours h2 span{
	font-size: 10px;
}
header[role="banner"] #new-navigation-bar #mobile-nav a#responsive-menu-button{
	background: url(../../images/new-mobile-menu-icon.png) 63px 14px no-repeat;
	font-size: 20px;
	padding-left: 10px;
	padding-right: 45px;
}
}

/* Retina/HiDPI Support (@2x)
-------------------------------------------------------------------------------*/

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and ( min--moz-device-pixel-ratio: 2), only screen and ( -o-min-device-pixel-ratio: 2/1), only screen and ( min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx) {
header[role="banner"] #new-navigation-bar #mobile-nav a#responsive-menu-button {
	background-image: url(../../images/new-mobile-menu-icon@2x.png);
	-webkit-background-size: 32px 16px; -moz-background-size: 32px 16px; -o-background-size: 32px 16px; background-size: 32px 16px;
}
.sidr nav[role="navigation"] ul li.nav-hours a {
	background-image: url(../../images/ico-directions@2x.png);
}
.sidr nav[role="navigation"] ul li.nav-parties a {
	background-image: url(../../images/ico-parties@2x.png);
}
.sidr nav[role="navigation"] ul li.nav-entertainment a {
	background-image: url(../../images/ico-entertainment@2x.png);
}
.sidr nav[role="navigation"] ul li.nav-coupons a {
	background-image: url(../../images/ico-coupon@2x.png);
}
.sidr nav[role="navigation"] ul li.nav-contact a {
	background-image: url(../../images/ico-contact@2x.png);
}
.sidr a.close span.red {
	background-image: url(../../images/btn-close@2x.png);
}
}

/* PPC Landing Page
-------------------------------------------------------------------------------*/

.page-template-page-ppc-packages #new-navigation-bar,
.page-template-page-ppc-packages #socail-bg {
	display: none;
}

#main.ppc-landing .post_content {
	text-align: center;
}

#main.ppc-landing .post_content h2 {
	color: #0b59af;
	font-size: 48px;
}

#main.ppc-landing .post_content h3 {
	font-weight: 300;
	color: #26303a;
	margin-bottom: 25px;
	display: block;
}

#main.ppc-landing h3.full {
	background: #ffc423;
	color: #0b59af;
	text-transform: uppercase;
	font-size: 36px;
	text-align: center;
	padding: 15px 0;
	position: relative;
	margin: -15px 0 35px;
}

#main.ppc-landing h3.full:before {
	content: '';
	width: 9999px;
	height: 100%;
	background: #ffc423;
	position: absolute;
	top: 0;
	left: -9999px;
}

#main.ppc-landing h3.full:after {
	content: '';
	width: 9999px;
	height: 100%;
	background: #ffc423;
	position: absolute;
	top: 0;
	right: -9999px;
}

.ppc .left {
	width: 48%;
	float: left;
	display: block;
}

.ppc .right {
	width: 48%;
	float: right;
	display: block;
}

.ppc article {
	width: 100%;
	display: block;
	float: left;
	background: #26303a;
	color: #ffffff;
	position: relative;
}

.ppc article header {
	width: 100%;
	float: left;
	background: #b22f35;
	color: #ffffff;
	text-align: center;
	padding-bottom: 15px;
	padding: 15px;
}

.ppc article.wristbands header {
	background: url(../../images/bg-wristband.jpg) no-repeat center center;
	background-size: cover;
	padding: 50px 0 0;
	width: 33%;
	height: 100%;
	float: right;
	position: absolute;
	top: 0;
	right: 0;
}


.ppc article.wristbands .content {
	width: 67%;
	float: left;
}

.ppc article.wristbands .content .block {
	float: left;
	display: inline-block;
}

.ppc article.outdoor header {
	background: url(../../images/bg-outdoor.jpg) no-repeat center center;
	background-size: cover;
	padding: 50px 0 0;
	width: 33%;
	height: 100%;
	float: left;
	position: absolute;
	top: 0;
	left: 0;
}

@media(max-width: 768px) {
.ppc article.wristbands header,
.ppc article.outdoor header { 
	position: relative;
	top: auto;
	right: auto;
	width: 100%;
	height: auto;
	float: left;
	width: 100%;
}
}

.ppc article.patios header {
	background: url(../../images/bg-patios.jpg) no-repeat center center;
	background-size: cover;
	padding: 35px 0;
}

.ppc article.extras header {
	background: url(../../images/bg-party.jpg) no-repeat center center;
	background-size: cover;
	padding: 35px 0;
}

.ppc article.times header {
	background: url(../../images/bg-times.jpg) no-repeat center center;
	background-size: cover;
	padding: 15px 0;
}

.ppc article header h2 {
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
}

.ppc article header h3 {
	font-weight: 300;
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	color: #ffffff;
	margin: 0;
	padding: 0;
}

.ppc article .content {
	width: 100%;
	display: block;
	float: left;
	margin-top: 25px;
	padding: 0 25px 25px;
}

.ppc article .content h3 {
	color: #ffc423;
	font-size: 22px;
	text-transform: uppercase;
}

.ppc article .content .button {
	display: block;
	width: 35%;
	margin: 25px auto 0;
	text-align: center;
}

.ppc article .content ul {
	-webkit-column-count: 2;   
	-moz-column-count: 2;
	-ms-column-count: 2;
	-o-column-count: 2;
	column-count: 2;

	-webkit-column-gap: 10px;
	-moz-column-gap: 10px;
	-ms-column-gap: 10px;
	-o-column-gap: 10px;
	column-gap: 10px;

	-moz-column-fill: balance;
	margin: 0 0 0 20px;
	padding: 0;
	font-size: 14px;
}

.ppc article.outdoor .content {
	margin-left: 330px;
	width: 65%;
}


.ppc article.outdoor .content ul {
	-webkit-column-count: 4;   
	-moz-column-count: 4;
	-ms-column-count: 4;
	-o-column-count: 4;
	column-count: 4;
}

.ppc article.outdoor .content ul li.nolist {
	list-style-type: none;
    padding-left: 27px;
    list-style-position: initial;
}

.ppc article .content .block.indoors {
	margin-left: 10px;
}

.ppc article .content .block.indoors ul {
	-webkit-column-count: 1;   
	-moz-column-count: 1;
	-ms-column-count: 1;
	-o-column-count: 1;
	column-count: 1;
}

.ppc article.patios,
.ppc article.extras {
	height: 420px;
}

.ppc article.patios .content ul,
.ppc article.extras .content ul {
	-webkit-column-count: 1;   
	-moz-column-count: 1;
	-ms-column-count: 1;
	-o-column-count: 1;
	column-count: 1;
}

.ppc article .content ul li {
   list-style-type: disc; 
   list-style-position: inside; 
   text-indent: -1em;
   padding-left: 1em;
}

.ppc article .content ul li.permitting {
	list-style-type: none !important;
	padding-left: 2em;
}

.ppc article .content ul { 
   list-style-type: disc; 
   list-style-position: inside;
   margin-left: 0;
   padding-left: 0; 
}

.ppc article .content ol { 
   list-style-type: decimal; 
   list-style-position: inside; 
}

.ppc article .content ul ul, .ppc article .content ol ul { 
   list-style-type: circle; 
   list-style-position: inside; 
}

.ppc article .content ol ol, .ppc article .content ul ol { 
   list-style-type: lower-latin; 
   list-style-position: inside; 
   margin-left: 15px; 
}

@media(max-width: 768px) {
.ppc .left,
.ppc .right {
	width: 100%;
	float: left;
	display: block;
	clear: both;
	margin: 0 0 15px 0;
}
}

/* PPC Packages */
.page-template-page-ppc-packages-php .inner-slider,
.page-template-page-ppc-packages-php .page-headertop {
	display: none; /*Hide banner on PPC Packages page*/
}

.page-template-page-ppc-packages-php #footer {
	padding: 2% 0;
}

@media (max-width: 768px) {

.ppc article.wristbands .content,
.ppc article.outdoor .content {
	margin-left: 0;
	width: 100%;
}

.ppc article.wristbands header,
.ppc article.outdoor header {
	padding-top: 15px;
}

.ppc article .content ul,
.ppc article.outdoor .content ul {
	-moz-column-count: 1 !important
    -ms-column-count: 1 !important;
    -o-column-count: 1 !important;
    column-count: 1 !important;
}

}




