<video autoplay loop muted width="100%" height="100%" poster="/wp-content/themes/barrymore/videos/videobg.jpg">
	<source src="/wp-content/themes/barrymore/videos/website-bg-indoor.webmhd.webm" type="video/webm">
	<source src="/wp-content/themes/barrymore/videos/website-bg-indoor.mp4" type="video/mp4">
</video>